/**
 * @Author Alvis Grigaļūns <alvis.grigaluns@gmail.com>
 */

/**
   ============= Variables
 */
$white: #ffffff;
$black: #000000;

$link-color: #ffeba7;
$container-bg: #1f2029;
$background: #1f2929;
$text-color: #c4c3ca;

/**
    ============= Body
 */
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: $text-color;
    background-color: $background;
    box-sizing: border-box;

    a {
        cursor: pointer;
        text-decoration: none;
        color: $black;
        font-size: 14px;
        border: 1px solid $link-color;
    }

    /**
        ============= Product list page
     */
    .list-container {
        width: 80%;
        margin: 20px auto auto;

        .top {
            display: grid;
            grid-template-columns: 5fr 1fr;
            background: $container-bg;
            border-radius: 10px 10px;

            .list-title {
                margin-left: 30px;
            }

            .list-btn-top {
                margin: auto;
            }
        }

        .btn {
            font-size: 16px;
            background: $link-color;
            border-radius: 5px 5px;
            padding: 8px;
            border: 1px solid $link-color;

            &:hover {
                background: $background;
                color: $link-color;
                border: 1px solid $link-color;
            }
        }

        .hr {
            border: 2px solid $text-color;
            border-radius: 20px 20px;
            margin: 15px 0 20px;
        }

        .list-row {
            padding: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .card {
            margin: 20px 20px;
            padding: 5px;
            text-align: center;
            background: $container-bg;
            border-radius: 10px 10px;

            &:hover {
                box-shadow: 1px 1px 1px 2px $link-color;
                transition: box-shadow 0.5s ease-in-out;
            }
        }
    }

    /**
        ============= Product add page
     */
    .add-container {
        margin-top: 50px;

        #product_form {
            margin: auto;
            width: 50%;
            background: $container-bg;
            border-radius: 10px 10px;
            padding: 30px;

            .top {
                display: grid;
                grid-template-columns: 5fr 1fr;

                .add-btn-top {
                    margin: auto;
                }
            }

            .btn {
                font-size: 16px;
                background: $link-color;
                border-radius: 5px 5px;
                padding: 8px;
                border: 1px solid $link-color;
                &:hover {
                    background: $background;
                    color: $link-color;
                    border: 1px solid $link-color;
                }
            }

            .hr {
                width: 100%;
                border: 2px solid $text-color;
                border-radius: 20px 20px;
                margin: 0 0 20px;
            }

            label {
                margin: 5px 20px 0;
                padding: 5px;
                display: inline-block;
            }

            input {
                margin: 0 20px 0;
                display: block;
                width: 93%;
                font-size: 16px;
                background: $background;
                color: $link-color;
                padding: 5px;
                border: 2px solid $link-color;
                border-radius: 5px 5px;
            }

            select {
                margin: 0 20px 30px;
                width: 95%;
                font-size: 16px;
                background: $background;
                color: $link-color;
                padding: 5px;
                border: 2px solid $link-color;
                border-radius: 5px 5px;
            }

            .prd-attr {
                margin: -20px 0 30px;
                display: none;
            }
        }
    }

    .footer {
        margin-top: 20px;
        text-align: center;
    }
}
