<?php require_once "layout/header.php";
    use Component\FormValidator;
    $types = ['Dvd', 'Book', 'Furniture'];
?>

<div class="add-container">
    <form class="form-col" action="/index.php/save" method="POST" id="product_form">
        <div class="top">
            <h1 class="add-title">Add product</h1>
            <div class="add-btn-top">
                <button type="submit" name="submit" value="submit" class="btn">Save</button>
                <a href="/" class="btn">Cancel</a>
            </div>
        </div>
        <div class="hr"></div>
        <div class="add-body">
            <div>
                <div class="flash-message"><?= FormValidator::flashMessage("sku_must_be_unique") ?></div>
                <div class="flash-message"><?= FormValidator::flashMessage("sku_is_required") ?></div>
                <div class="flash-message"><?= FormValidator::flashMessage("sku_must_be_alpha_numeric") ?></div>
                <label for="sku" class="form-label">SKU</label>
                <input id="sku" type="text" name="sku" value="" class="form-control">
            </div>
            <div>
                <div class="flash-message"><?= FormValidator::flashMessage("name_is_required") ?></div>
                <label for="name" class="form-label">Name</label>
                <input id="name" type="text" name="name" value="" class="form-control" required>
            </div>
            <div>
                <div class="flash-message"><?= FormValidator::flashMessage("price_is_required") ?></div>
                <label for="price" class="form-label">Price $</label>
                <input id="price" type="number" name="price" value="" class="form-control" required>
            </div>
            <div>
                <label for="type" class="form-label">Product type</label>
                <select id="productType" name="productType" class="form-select" aria-label="selection">
                    <option disabled selected>Please select your product type</option>
                    <?php foreach ($types as $type): ?>
                        <option value="<?= $type ?>" data-producttype="<?= strtolower($type) ?>"><?= $type ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
            <div class="dvd-attr prd-attr">
                <div class="flash-message"><?= FormValidator::flashMessage("size_is_required") ?></div>
                <label for="size" class="form-label">Size (MB)</label>
                <input id="size" type="number" name="size" value="" class="form-control">
            </div>
            <div class="book-attr prd-attr">
                <div class="flash-message"><?= FormValidator::flashMessage("weight_is_required") ?></div>
                <label for="weight" class="form-label">Weight (Kg)</label>
                <input id="weight" type="number" name="weight" value="" class="form-control">
            </div>
            <div class="furniture-attr prd-attr">
                <div>
                    <div class="flash-message"><?= FormValidator::flashMessage("length_is_required") ?></div>
                    <label for="length" class="form-label">Length</label>
                    <input id="length" type="text" name="length" value="" class="form-control">
                </div>
                <div>
                    <div class="flash-message"><?= FormValidator::flashMessage("width_is_required") ?></div>
                    <label for="width" class="form-label">Width</label>
                    <input id="width" type="text" name="width" value="" class="form-control">
                </div>
                <div>
                    <div class="flash-message"><?= FormValidator::flashMessage("height_is_required") ?></div>
                    <label for="height" class="form-label">Height</label>
                    <input id="height" type="text" name="height" value="" class="form-control">
                </div>
            </div>
        </div>
        <div class="hr"></div>
    </form>
</div>

<?php require_once "layout/footer.php" ?>