<?php require_once "layout/header.php";

use Model\Persistence\ProductData;

?>

<div class="list-container">
    <div class="top">
        <h1 class="list-title">Product list</h1>
        <form action="/index.php/delete" method="POST" class="list-btn-top">
            <a href="/index.php/add" class="btn">Add</a>
            <button class="btn" type="submit" name="delete_btn" id="delete-product-btn">Mass delete</button>
        </form>
    </div>
    <div class="list-row">
        <?php /*foreach ($products as $product): */?>
        <div class="list-col">
            <div class="card">
                <form action="" method="POST">
                    <label class="form-label" for="delete"></label>
                    <input class="form-input delete-checkbox" name="checkbox" type="checkbox" value="<?/*= $product->id */?>">
                </form>
                <div class="card-body">
                    <h4 class="card-title"><?/*= $product->sku */?></h4>
                    <h5 class="card-title"><?/*= $product->name */?></h5>
                    <p class="card-text"><?/*= $product->price */?> &euro;</p>
                </div>
            </div>
        </div>
        <?php /*endforeach; */?>
    </div>
    <div class="hr"></div>
</div>

<?php require_once "layout/footer.php" ?>
